*.db
*.pyc
Pokedextec/venv/Include/site/python3.12/greenlet/greenlet.h
/Pokedextec/venv
/Pokedextec
/Pokedextec/venv
/Pokedextec/venv
/Pokedextec/venv
*.h
*.pyd
/Pokedextec/venv
*.py
*.txt
*.py
Pokedextec/venv/Lib/site-packages/beautifulsoup4-4.14.2.dist-info/INSTALLER
Pokedextec/venv/Lib/site-packages/beautifulsoup4-4.14.2.dist-info/licenses/AUTHORS
*.typed
*.pem
*.h
*.hpp
*.h
/Pokedextec/venv
*.cpp
*.pyd
*.hpp
*.cpp
*.exe
*.bat
*.ps1
/venv/Lib
*.exe
*.exe
*.cfg
*.py
/Pokedextec
