<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - Pokedex</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pokedex.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style/auth.css') }}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">

        <h1 class="title">Pokedex Login</h1>

        <form method="POST">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>

            <button type="submit" class="auth-btn">Entrar</button>

            {% if erro %}
            <p class="erro">{{ erro }}</p>
            {% endif %}
        </form>

        <p class="link-area">
            Não tem conta? <a href="{{ url_for('cadastro') }}">Criar agora</a>
        </p>
    </div>
</div>

</body>
</html>
